@import url('../App.css');

.home-parent{
    /* margin-top: 2.5rem; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.home-parent div{
    /* text-align: center; */
    margin: 0 auto;
}

.notes-hero{
    text-align: center;
    width: 90%;
    margin: 1rem auto;
}
.notes-hero-img{
    
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 25rem;
}
.hero-subtitle{
    margin: 0.5rem auto;
}
.hero-subtitle span{
    font-weight: 600;
}
.login{
    width: 100%;
    padding-top: 3rem;
}
.login>h2{
    text-align: center;
    font-weight: 500;
}

.login-form{
    margin: 1.5rem auto;
    position: relative;
}
.ipt{
    display: block;
    padding: 0.4rem 0.6rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 57%;
    background-color:whitesmoke;
    border: 1px solid var(--primary-color);
}
.login-form button{
    display: block;
    width: 50%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem auto;
}
.login-btn{
    background-color: var(--primary-color);
    color: white;
 
}
.label-form{
    margin-left: 20%;

}
.pwd-div{
    position: relative;
    display: flex;
    align-items: center;
    width: 60%;
 }
.pwd-div *{
    display: inline;
  
}
.pwd{
    width: 100%;
}
.hide-icon{

  position: absolute;
  right: 1rem;

}


.login-btn-secondary{
   color: var(--primary-color);
    background-color:white;
    border: 1px solid var(--primary-color);
 
  
}
.signup-link-p{
    margin-top: 4rem;
    margin-left: 10%;
}
 .signup-link{
font-weight: 600;
text-decoration: underline;
}