
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://windui.netlify.app/wind.css');

button:hover{
cursor: pointer;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-section{
    flex-grow: 1;
    /* background-color: red; */
    display: grid;
    grid-template-columns: 12rem 1fr;
    color: var(--text-color);
    margin-bottom: 3rem;
}
.addnotes-icon{
    position: fixed;
    bottom: 4.5rem;
    right: 1rem;
    color: var(--primary-color);
  }
@media screen and (max-width: 650px) {
    .main-section{
        display: block;
    }
    .addnotes-icon{
        z-index: 3;
       background-color: white;
       border-radius: 50%;
    }
}