.color-palette {
    position: absolute;
    bottom: -3rem;
    left: -0.5rem;
    background-color:whitesmoke;
    border-radius: var(--border-radius);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
    box-shadow: var(--box-shadow);
    z-index: 2;
  }
  
  .color-palette .btn {
    margin-bottom: 0.25rem;
  }
  
  .btn-color {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid gray;
    margin: 0.25rem;
    padding: 0;
  }
  