.note-form {
    width: 25rem;
    margin: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--white);
    position: relative;
  }
  
  .form-open {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
  }
  
  .input-rte,
  .note-form textarea {
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    width: 100%;
    background-color: inherit;
  }
  .input-rte input{
    background-color: transparent;
  }
  
  .note-form .note-input {
    display: flex;
  }
  
  .note-form textarea {
    resize: none;
    color: var(--text-color);
  }
  .text-rte:focus{
    transition: 0.2s ease;
    padding: 0.25rem;
    border: none !important;
  }


  .note-form .input-primary textarea:focus {
    outline: none;
    border: none;
  }
  
  .note-form .form-action .close-btn {
    color: var(--primary-color);
  }
  
  .note-form .form-action button {
    margin: 0.5rem;
  }
  
  .note-form .form-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  .note-form .form-options {
    display: flex;
    align-items: center;
  }
  
  i > svg {
    vertical-align: middle;
  }
  
  .form-options i {
    margin: 0 0.35rem;
    padding: 0.1rem 0.2rem;
    border-radius: 50%;
    color: var(--primary-color);
  }
  
 
  
  .note-form .label-btn {
    position: relative;
  }
  
  .form-footer {
    display: flex;
    justify-content: space-between;
  }
.btn-save{
  color: white;
  background-color: var(--primary-color);
  padding: 0.25rem;

  border-radius: 0.25rem;
}
.close-btn{
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--primary-color);
  background-color: transparent;
}