.notes-wrapper {
    max-width: 25rem;
padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:  0 auto;
  }
  .center-text{
      text-align: center;
      margin: 1rem auto;
  }